<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    
    <!-- 根logger -->
    <root level="INFO">
        <!-- 控制台 -->
        <appender-ref ref="CONSOLE" />
    </root>
    
    <!-- project default level -->
    <logger name="com.wise" level="DEBUG" />
    
</configuration>